body{
    height: 100vh;
    display: flex;
    background-color: rgb(175, 169, 169);
}

.main-container{
    width: 700px;
    height: 820px;
    background-color: rgb(74, 76, 202);
    display: flex;
    margin: auto;
    display: grid;
    grid-template-rows: 133px 133px 133px 133px 133px;
    grid-template-columns: 133px 133px 133px 133px 133px;
    column-gap: 5px;
    row-gap: 5px;
    perspective: 10000px;
}



.cards{
    margin: 10px;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    position: relative;
    transform-style:preserve-3d;
    transition: .5s;
}
.cards.flip{
    transform: rotateY(180deg);
}

.front,.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front{
    transform: rotateY(180deg);
}